---
import { getCollection, render, type CollectionEntry } from 'astro:content';

import { Edit3Icon, ClockIcon } from 'astro-feather';
import readingTime from 'reading-time';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BaseHead from '../../components/BaseHead.astro';
// import Blocks from '../../components/Blocks.astro';
import Tags from '../../components/Tags.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const blogEntries = await getCollection('posts');
	return blogEntries.map((post: CollectionEntry<'posts'>) => ({
		params: { slug: post.id },
		props: { entry: post },
	}));
}

export const prerender = true;

type Props = {
	entry: CollectionEntry<'posts'>;
};

const { entry } = Astro.props;
const { Content } = await render(entry);

const { text: readingText } = readingTime(entry.body ?? '');
---

<BaseLayout>
	<!-- <BaseHead slot="head" {entry.data.title } description={excerpt} /> -->
	<BaseHead slot="head" title={entry.data.title} description="TODO" />
	<article class="m-auto floating max-w-prose px-6 space-y-4">
		<header class="border-b flex flex-col items-center text-center py-6">
			<h1 class="mb-6 text-4xl font-bold">{entry.data.title}</h1>

			<div class="flex">
				<!-- {
					avatar.foundAvatar && avatar.rating === 'g' && (
						<img
							alt={`${author.name} headshot`}
							class="rounded-full w-16 col-span-1 row-start-1 row-end-3 bg-gray-200 text-transparent"
							height={avatar.height}
							loading="lazy"
							src={avatar.url}
							width={avatar.width}
						/>
					)
				} -->
				<div class="flex flex-col justify-center">
					<div class="text-left text-gray-600 row-auto">
						<Edit3Icon
							aria-hidden
							customClasses="inline-svg text-gray-700 mr-2"
						/>

						<span aria-label="author">Alex Moon</span>
					</div>
					<p class="text-gray-600 row-auto">
						<ClockIcon
							aria-hidden
							customClasses="inline-svg text-gray-700 mr-2"
						/>
						{readingText} · <FormattedDate date={new Date(entry.data.date)} />
					</p>
				</div>
			</div>
		</header>

		<div id="blog-content" class="prose my-6">
			<Content />
		</div>

		<footer class="border-t text-sm text-gray-600 py-6">
			<Tags tags={entry.data.tags ?? []} />
		</footer>
	</article>
</BaseLayout>
