---
import { getEmDashEntry } from 'emdash';
import { PortableText } from 'emdash/ui';

import { Edit3Icon, ClockIcon } from 'astro-feather';
import { getReadingTime, formatReadingTime } from '../../utils/reading-time';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BaseHead from '../../components/BaseHead.astro';
import PortableTextCode from '../../components/PortableTextCode.astro';
import Tags from '../../components/Tags.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const { slug } = Astro.params;
const { entry, cacheHint } = await getEmDashEntry('posts', slug!);

if (!entry) {
	return Astro.redirect('/404');
}

Astro.cache.set(cacheHint);

const readingMinutes = getReadingTime(entry.data.body);
const readingText = formatReadingTime(readingMinutes);
const readingDuration = `PT${readingMinutes}M`;
---

<BaseLayout>
	<!-- <BaseHead slot="head" {entry.data.title } description={excerpt} /> -->
	<BaseHead slot="head" title={entry.data.title} description="TODO" />
	<article class="m-auto floating max-w-prose px-6 space-y-4">
		<header class="border-b flex flex-col items-center text-center py-6">
			<h1 class="mb-6 text-4xl font-bold">{entry.data.title}</h1>

			<div class="flex">
				<!-- {
					avatar.foundAvatar && avatar.rating === 'g' && (
						<img
							alt={`${author.name} headshot`}
							class="rounded-full w-16 col-span-1 row-start-1 row-end-3 bg-gray-200 text-transparent"
							height={avatar.height}
							loading="lazy"
							src={avatar.url}
							width={avatar.width}
						/>
					)
				} -->
				<div class="flex flex-col justify-center">
					<div class="text-left text-gray-600 row-auto">
						<Edit3Icon
							aria-hidden
							customClasses="inline-svg text-gray-700 mr-2"
						/>

						<span aria-label="author">Alex Moon</span>
					</div>
					<p class="text-gray-600 row-auto">
						<ClockIcon
							aria-hidden
							customClasses="inline-svg text-gray-700 mr-2"
						/>
						<time datetime={readingDuration}>
							{readingText}
						</time>
						·
						<FormattedDate date={entry.data.publishedAt!} />
					</p>
				</div>
			</div>
		</header>

		<div class="prose max-w-none">
			<PortableText
				value={entry.data.body}
				components={{ type: { code: PortableTextCode } }}
			/>
		</div>

		<footer class="border-t text-sm text-gray-600 py-6">
			<Tags tags={entry.data.terms?.tag ?? []} />
		</footer>
	</article>
</BaseLayout>
